<div class="container">
  <div class="row justify-content-md-left">
    <div class="col-md-auto">
      <a class="dropdown-item"><%= image_tag user_avatar(@user), class: 'user_avatar' %></a>
    </div>
    <div class="col">
      <a class="dropdown-item">
      <%= link_to "#{friend.username}", user_path(id: friend.id) %></a>
    </div>
  </div>
</div>
