<div class="container main-bg"> 
  <div class="row main-content"> 
    <div class="col-1"></div>
    <div class="col-4">
        <div class="register slideRight">
        <div class="tool">
                    <div class="col-8">
          <h3> Our TOP users with most likes on places </h3>
          <%= render partial: 'shared/users', collection: @users %>
        </div>
          <h3 class="main-page-header"><mark>Register</mark></h3>
            <p><span class="underline">Register in the app</span> and add your favorite <span class="underline">places to map</span> with your description and photos.</p>
        </div>
    </div>
    <div class="share slideRight2">
        <div class="tool">
          <h3 class="main-page-header"><mark>Save places</mark></h3>
            <p><span class="underline">Like the place</span> and it will always be available to you in the <span class="underline">section Favorite Places</span> </p>
        </div>
    </div>
  </div>
    <div class="col-1"></div>
    <div class="col-4">
      <div class="save slideLeft">
        <div class="tool">
          <h3 class="main-page-header"><mark>Share with friends</mark></h3>
            <p><span class="underline">Copy your page link</span> and share <span class="underline">your favorite places with friends</span> and have access to your <span class="underline">friends favorite places.</span></p>
        </div>
      </div>
    </div> 
    <div class="col-1"></div>
  <div>
</div>
