<div class="container second-menu">
  <div class="user-navigation">
    <button type="button" class="btn btn-light user-nav-but active" aria-pressed="true">My Places</button>
    <button type="button" class="btn btn-light user-nav-but">Friends</button>
    <button type="button" class="btn btn-light user-nav-but">Favorites</button>
  </div>
</div>

<div id="map">
  <% if current_user == @user %>
    <%= javascript_pack_tag 'author_map' %>
  <% else %>
    <%= javascript_pack_tag 'user_map' %>
  <% end %>
</div>
