@import 'bootstrap/dist/css/bootstrap';

/* Style Devise Flash messages like Bootstrap */
.alert {
  color: #fff;
  background-color: #312767;
  border-color: #312767;
}


h2 {
  color: #000000;
}

.main-page-header {
  text-align: center;
}

.main-bg {
  background: image-url('bg3.jpg');
  background-size: cover;
  background-position: center;
  height: 92%;
  max-width: 100%;
  background-repeat: no-repeat;
}

.navbar-brand {
  display: inline-block;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: #ffffff;
}

.navbar-brand:hover {
  color: rgba(175, 173, 173, 0.9);
}

.tool {
  padding: 20px;
  position: relative;
  color: #fff;
  border-image-slice: 1;
  border-width: 5px;
  background-image: linear-gradient(to right, #FC5C7D, #6A82FB);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.tool::after {
  content: '';
  position: absolute;
  bottom: -55px;
  border: 21px solid transparent;
  border-top: 34px solid #b86ebd;
  left: 44%;
}

.underline {
  border-bottom: 4px solid currentColor;
  display: inline-block;
  line-height: 1;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background-color: transparent !important;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #ffffff;
  border-bottom: 3px solid #8C64C9;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: rgba(224, 209, 209, 0.7);
  border-bottom: 3px solid #8C64C9;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  margin-top: 0px;
  border: 1px solid #fff;
  border-radius: 0;
  min-width: 200px;
}

.top-button {
  margin-right: 20px;
}

.map_belongs {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 6%;
}

.register {
  padding-bottom: 20%;
}

.register p {
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 1px;
}

mark {
  background: #ffffff;
  padding: 0 3px;
  font-size: 30px;
}

.share {
  margin-top: 35px;
}

.save p {
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 1px;
}

.share p {
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 1px;
}

.image-main {
  text-align: center;
}

.image-main img {
  width: 300px;
  margin-top: 20px;
}

.user_avatar {
  width: 25px;
  border-radius: 50%;
}

.user-show {
  width:100%;
}

.title-top {
  margin-bottom: 20px;
}

.btn-link:hover {
  text-decoration: none;
}

.dropdown-menu {
  margin: 0.125rem 30px 0;
}

.second-menu {
  max-width: 100%;
  background: #353535;
}

.top {
  max-width: 100%;
  border-bottom: 2px solid #ffffff;

}

button a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}
button a:hover{
    color: #000000;
    text-decoration: none;
}

li a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

li a:hover{
    color: #000000;
    text-decoration: none;
}

.edit {
  padding: 20px;
  position: relative;
  color: #fff;
  border-image-slice: 1;
  border-width: 5px;
  background-image: linear-gradient(to right, #FC5C7D, #6A82FB);
  margin-top: 5%;
}

.user-navigation {
  max-width: 1040px;
  margin-right: auto;
  margin-left: 0;
}


.btn-light {
  border-radius: 0;
  border: 0px !important;
  background-color: #9e9e9e;
}

#map {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #212121;
}

.gm-style .gm-style-iw-c {
  min-width: 200px !important;
  padding: 20px;
}

.error-message {
  color: red;
  padding-top: 0.5em;
}


.favorite {
  background: image-url('star.png') no-repeat;
  height: 20px;
  padding: 0px;
  cursor: pointer;
}

.unfavorite {
  background: image-url('unstar.png') no-repeat;
  height: 20px;
  padding: 0px;
  cursor: pointer;
}

.input-code {
  position: relative;
  margin-bottom: 5px;

  &__label {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 55%;
    bottom: 0;
    cursor: text;

    &::after {
content: '';
    position: absolute;
    width: 93%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #8C64C9;
    transform-origin: bottom right;
    margin-left: 15px;
    }
  }
  
  &__input {
border: 0;
    outline: 0;
    padding: 0;
    font-size: 17px;
    font-weight: 500;
    transition: border-color 0.3s;
    background-color: transparent;
    color: #ffffff;
    width: 60%;

    &:placeholder {
      opacity: .5;
      color: #231f20;
    }

    &:focus {
      border-color: transparent;

      &:placeholder {
        color: transparent;
      }
      
      &::-moz-placeholder {
        color: transparent;
      }

      & + label::after {
        transform: scaleX(1);
        transform-origin: bottom left;
        transition: transform 0.3s ease-in;
      }
    } 
  }
}

.search-button {
  border: 0!important;
  background: none;
  color: #fff;
  outline: none !important;
}

.search-button:focus {
  outline: none !important;
}

.username {
  color: #ffffff;
  text-decoration: none;
}

.username:hover {
  transition: .20s;
  background: linear-gradient(#FC5C7D, #6A82FB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.btn-link:hover {
  color: #fc5cef;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: none;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 10px;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #212121;
  background-clip: padding-box;
  border: none;
}

.pad {
  float: right;
}

.dropdown-menu a {
  color: #ffffff;
  line-height: 35px;
}

.slideRight{
    animation-name: slideRight;
    -webkit-animation-name: slideRight; 
 
    animation-duration: 2s; 
    -webkit-animation-duration: 2s;
 
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
 
    visibility: visible !important; 
}
 
@keyframes slideRight {
    0% {
        transform: translateX(-150%);
    }
    50%{
        transform: translateX(8%);
    }
    65%{
        transform: translateX(-4%);
    }
    80%{
        transform: translateX(4%);
    }
    95%{
        transform: translateX(-2%);
    }           
    100% {
        transform: translateX(0%);
    }   
}
 
@-webkit-keyframes slideRight {
    0% {
        -webkit-transform: translateX(-150%);
    }
    50%{
        -webkit-transform: translateX(8%);
    }
    65%{
        -webkit-transform: translateX(-4%);
    }
    80%{
        -webkit-transform: translateX(4%);
    }
    95%{
        -webkit-transform: translateX(-2%);
    }           
    100% {
        -webkit-transform: translateX(0%);
    }
}

.slideRight2{
    animation-name: slideRight;
    -webkit-animation-name: slideRight; 
 
    animation-duration: 2s; 
    -webkit-animation-duration: 2s;
 
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
 
    visibility: visible !important; 
}
 
@keyframes slideRight2 {
    0% {
        transform: translateX(-150%);
    }
    50%{
        transform: translateX(8%);
    }
    65%{
        transform: translateX(-4%);
    }
    80%{
        transform: translateX(4%);
    }
    95%{
        transform: translateX(-2%);
    }           
    100% {
        transform: translateX(0%);
    }   
}
 
@-webkit-keyframes slideRight2 {
    0% {
        -webkit-transform: translateX(-150%);
    }
    50%{
        -webkit-transform: translateX(8%);
    }
    65%{
        -webkit-transform: translateX(-4%);
    }
    80%{
        -webkit-transform: translateX(4%);
    }
    95%{
        -webkit-transform: translateX(-2%);
    }           
    100% {
        -webkit-transform: translateX(0%);
    }
}

.slideLeft{
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;  
 
    animation-duration: 2s; 
    -webkit-animation-duration: 2s;
 
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
 
    visibility: visible !important; 
}
 
@keyframes slideLeft {
    0% {
        transform: translateX(150%);
    }
    50%{
        transform: translateX(-8%);
    }
    65%{
        transform: translateX(4%);
    }
    80%{
        transform: translateX(-4%);
    }
    95%{
        transform: translateX(2%);
    }           
    100% {
        transform: translateX(0%);
    }
}
 
@-webkit-keyframes slideLeft {
    0% {
        -webkit-transform: translateX(150%);
    }
    50%{
        -webkit-transform: translateX(-8%);
    }
    65%{
        -webkit-transform: translateX(4%);
    }
    80%{
        -webkit-transform: translateX(-4%);
    }
    95%{
        -webkit-transform: translateX(2%);
    }           
    100% {
        -webkit-transform: translateX(0%);
    }
}
